<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MVVMforWPF.Properties.Settings.fashionConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=fashion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVVMforWPF.Properties.Settings.QuanLySachConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=QuanLySach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>